<div class="container">
  <div class="image-wrapper"></div>
  <div class="content-wrapper">
    <div class="content title-wrapper">
      <h1>{{ include.title }}</h1>
      <h4 class="date-subtitle">{{ include.date }}</h4>
    </div>

    <p class="content">{{ include.content }}</p>
    <button class="content btn primary">Call to Action</button>
  </div>
</div>
