<div class="carousel">
  {%- assign announcements = site.data.projects -%}

  {%- for card in include.cards -%}
    {%- assign title = announcement["title"] -%}
    {%- assign date = announcement["date"] -%}
    {%- assign image_path = announcement["image_path"] -%}
    {%- assign content = announcement["content"] -%}

    {%- include card.html.liquid title=title date=date content=content -%}
  {%- endfor -%}
</div>
