<div class="carousel">
  <div class="container">
    <div class="content-wrapper">
      <div class="title-wrapper">
        <h1>Announcement One</h1>
        <h4 class="date-subtitle">2022-10-16</h4>
      </div>

      <p>Some announcement text. This will probably be a few sentences. At least three, I'd say.</p>
      <button class="btn primary">Call to Action</button>
    </div>
  </div>
  <div class="container">
    <div class="content-wrapper">
      <div class="title-wrapper">
        <h1>Announcement Two</h1>
        <h4 class="date-subtitle">2022-10-16</h4>
      </div>

      <p>Some announcement text. This will probably be a few sentences. At least three, I'd say.</p>
      <button class="btn primary">Call to Action</button>
    </div>
  </div>
  <div class="container">
    <div class="content-wrapper">
      <div class="title-wrapper">
        <h1>Announcement Three</h1>
        <h4 class="date-subtitle">2022-10-16</h4>
      </div>

      <p>Some announcement text. This will probably be a few sentences. At least three, I'd say.</p>
      <button class="btn primary">Call to Action</button>
    </div>
  </div>
  <div class="container">
    <div class="content-wrapper">
      <div class="title-wrapper">
        <h1>View More</h1>
      </div>

      <p>Some announcement text. This will probably be a few sentences. At least three, I'd say.</p>
      <button class="btn primary">Call to Action</button>
    </div>
  </div>
</div>
