<div class="carousel">
  {%- assign announcements = site.data.post_index -%}

  {%- for announcement in announcements -%}
    {%- assign title = announcement["title"] -%}
    {%- assign date = announcement["date"] -%}
    {%- assign content = announcement["content"] -%}

    {%- include card.html.liquid title=title date=date content=content -%}
  {%- endfor -%}

  <div class="container">
    <div class="content-wrapper">
      <div class="title-wrapper">
        <h1>View More</h1>
      </div>

      <p>Some announcement text. This will probably be a few sentences. At least three, I'd say.</p>
      <button class="btn primary">Call to Action</button>
    </div>
  </div>
</div>
