{%- assign footer = site.data.footer -%}

<footer class="footer">
  <a href="{{ "/feed" | relative_url }}" class="banner-action">Go to the Feed</a>

  <div class="container">
    <h4>{{ site.title }}</h4>
    <h4>{{ site.email }}</h4>
    <p>{{ site.description }}</p>
  </div>

  <img src="assets/images/foxlogo.png" alt="fox-logo">
</footer>
