$white: #e8e3e0;
$white-primary: #e8e3ff;
$white-secondary: #f0e3e0;
$primary: #0c2442;
$primary-light: $primary * 1.5;
$primary-dark: #040c16;
$secondary: #d48166;
$secondary-light: #d48166;
$secondary-dark: #d48166;
