.footer {
  align-items: end;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 15vh;
  padding: 1.5rem 1rem 1rem 1rem;
  position: relative;

  .banner-action {
    font: 1rem Oswald;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
