.header {
  align-items: center;
  border-bottom: .5px solid $primary-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;

  .menu-toggle {
    align-self: stretch;
    background-color: $secondary-dark;
    color: $primary;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: .25rem 0;
  }
  .header-banner {
    align-items: baseline;
    background-color: $primary-dark;
    color: $white;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    width: 100%;
  }
  .header-title {
    font: 4rem Teko;
  }
  .header-subtitle {
    font-size: 1.5rem;
  }
  .navbar {
    align-self: stretch;
    background-color: $secondary;
    color: $primary-dark;
    //display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;

    .nav-links {
      color: inherit;
      display: flex;
      justify-content: space-around;

      .nav-link {
        color: inherit;
        display: flex;
        font: 1.25rem Oswald;

        a {
          padding: 1rem .5rem;
        }
      }
    }
  }
}
