@import "colors";
@import "reset";
@import "fonts";
@import "header";
@import "footer";

body {
  background-color: $primary;
  color: $primary-dark;
  height: 100vh;
  scroll-padding-top: 100px;
}
main {
  padding-top: 100px;
}

.lt-text {
  color: $white-primary;
}

.section {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  position: relative;

  .section-heading {
    color: $white-primary;
    font-size: 1.5rem;
    margin: .5rem 1rem;
  }
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.container {
  align-content: start;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  padding: .5rem 1rem;

  &.primary {
    background-color: $secondary;
    color: $white;
  }
}

.date-subtitle {
  font-size: .75rem;
}

.image-wrapper {
  border-right: 1px solid $primary-dark;
  background-color: $white;
  height: 30vh;
  width: 100%;
}
.image-wrapper--bg {
  background-color: $white;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
}
.image-wrapper--poster {
  aspect-ratio: 3 / 4;
  background-color: $white;
  margin: 1.5rem 1rem;
  width: 100%;
}

.content-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem 4rem;

  .content {
    margin: .5rem 0;
  }
}
